@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';

* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  background: #f8f9fd;
}

.hamburger {
  border: none;
  padding: 0;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #f8f9fd;
  color: #fff;
  transition: all 0.3s;
  overflow-y: auto;
}

#sidebar.active {
  margin-left: -250px;
}

.menu p {
  padding-left: 40px;
  margin-bottom: 12px;
  font-size: 14px;
  color: #828ea5;
}

.menu .icon {
  width: 28px;
  height: 28px;
  margin-right: 12px;
  background-size: cover;
  display: inline-block;
}

/* icons sidebar */

ul li .ic-stats {
  background-image: url('../images/ic_overview_inact.svg');
}

ul li.active a .ic-stats,
ul li:hover .ic-stats {
  background-image: url('../images/ic_overview_act.svg');
}

ul li .ic-trans {
  background-image: url('../images/ic_transaction_inact.svg');
}

ul li.active a .ic-trans,
ul li:hover .ic-trans {
  background-image: url('../images/ic_transaction_act.svg');
}

ul li .ic-msg {
  background-image: url('../images/ic_messages_inact.svg');
}

ul li.active a .ic-msg,
ul li:hover .ic-msg {
  background-image: url('../images/ic_messages_act.svg');
}

ul li .ic-account {
  background-image: url('../images/ic_account_inact.svg');
}

ul li.active a .ic-account,
ul li:hover .ic-account {
  background-image: url('../images/ic_account_act.svg');
}

ul li .ic-settings {
  background-image: url('../images/ic_settings_inact.svg');
}

ul li.active a .ic-settings,
ul li:hover .ic-settings {
  background-image: url('../images/ic_settings_act.svg');
}

ul li .ic-help {
  background-image: url('../images/ic_help_inact.svg');
}

ul li.active a .ic-help,
ul li:hover .ic-help {
  background-image: url('../images/ic_help_act.svg');
}

ul li .ic-logout {
  background-image: url('../images/ic_logout_inact.svg');
}

ul li.active a .ic-logout,
ul li:hover .ic-logout {
  background-image: url('../images/ic_logout_act.svg');
}

/* end icons */

ul li {
  padding: 14px 40px;
  font-size: 16px;
  position: relative;
}

ul li a {
  color: #828ea5;
  display: flex;
  text-decoration: none;
}

ul .active a,
ul li:hover a {
  font-weight: 600;
  color: #3547ac;
}

ul li.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 8px;
  margin: 14px 0;
  border-radius: 4px;
  transform: translateX(-50%);
  background-color: #3547ac;
}

#content {
  width: 100%;
  padding: 32px;
  min-height: 100vh;
  transition: all 0.3s;
  background: #fff;
  border-radius: 50px 0 0 50px;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
  justify-content: space-between;
}

.header h3 {
  color: #0d1458;
  font-weight: 700;
  line-height: 42px;
  margin: 0;
}

.header p {
  color: #828ea5;
  font-size: 16px;
}

.navbar .search {
  width: 300px;
  height: 40px;
  font-size: 14px;
  color: #828ea5;
  box-sizing: border-box;
  background-color: #f8f9fd;
  border-radius: 100px;
  border: none;
  padding: 0 20px;
}

.navbar .btn-search {
  background-color: #dce2f4;
  color: #000000;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  position: absolute;
  margin-right: 70px;
}

.navbar .avatar {
  width: 50px;
  height: 50px;
  padding: 4px;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 50px;
  border: 1px solid #3547ac;
}

.information .card {
  box-sizing: border-box;
  border: none;
  width: 340px;
  height: 240px;
  border-radius: 30px;
  padding: 30px;
}

.debit {
  background-image: url('../../assets/images/bg_card.png');
  background-size: cover;
  background-color: #3547ac;
  display: flex;
  justify-content: space-between;
  color: #fff;
  box-shadow: rgba(53, 71, 172, 0.5) 0px 20px 50px 0px;
  -webkit-box-shadow: rgba(53, 71, 172, 0.5) 0px 20px 50px 0px;
  -moz-box-shadow: rgba(53, 71, 172, 0.5) 0px 20px 50px 0px;
}

.debit .number {
  font-weight: 600;
  font-size: 22px;
  margin: 0;
  letter-spacing: 17%;
}

.debit .name {
  font-weight: 500;
  margin: 0;
}

.debit .valid {
  font-weight: 300;
  margin: 0;
}

.balance,
.donut-chart {
  background-color: #f8f9fd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance > p {
  color: #0d1458;
  font-weight: 600;
  margin: 0;
}

.balance > h2 {
  color: #3547ac;
  font-weight: 700;
  margin: 0;
}

.balance div {
  background-color: #d6f9ee;
  color: #5fbb9e;
  padding: 6px 12px;
  border-radius: 10px;
}

.information h5 {
  color: #0d1458;
  font-weight: 600;
  margin-bottom: 30px;
}

.transaction .icon-history {
  width: 70px;
  height: 70px;
  background-color: #f8f9fd;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transaction .trans-history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.transaction .title {
  color: #0d1458;
  font-weight: 600;
}

.transaction .date {
  color: #0d1458;
  font-weight: 400;
}

.transaction .outcome {
  font-weight: 500;
  color: #f12f2f;
}

.transaction .income {
  font-weight: 500;
  color: #3547ac;
}

@media (max-width: 1024px) {
  .information .card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #content {
    width: auto;
  }
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  #content {
    padding: 16px;
  }
}
