@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f8f9fd;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 280px;
  height: 100%;
  padding: 30px 0px;
}

.wrapper .sidebar .menu p {
  padding-left: 40px;
  margin-bottom: 12px;
  font-size: 14px;
  color: #828ea5;
}

.wrapper .sidebar .menu .icon {
  width: 28px;
  height: 28px;
  margin-right: 12px;
}

.wrapper .sidebar ul li {
  padding: 14px 40px;
  font-size: 16px;
}

.wrapper .sidebar ul li .active,
.wrapper .sidebar ul li:hover a {
  font-weight: 600;
  color: #3547ac;
}

.wrapper .sidebar ul li a {
  color: #828ea5;
  display: block;
  text-decoration: none;
}

.wrapper .sidebar ul li:hover {
  background-color: #dce2f4;
}

.wrapper .main_content {
  width: auto;
  right: 0;
  left: 270px;
  top: 0;
  bottom: 0;
  padding: 42px;
  position: absolute;
  background-color: #fff;
  border-radius: 50px 0 0 50px;
}

.wrapper .main_content .header {
  display: flex;
  margin-bottom: 28px;
  align-items: center;
  justify-content: space-between;
}

.wrapper .main_content .header h3 {
  color: #0d1458;
  font-weight: 700;
  line-height: 42px;
  margin: 0;
}

.wrapper .main_content .header p {
  color: #828ea5;
  font-size: 16px;
}

.wrapper .main_content .header .search {
  width: 300px;
  height: 40px;
  font-size: 14px;
  color: #828ea5;
  box-sizing: border-box;
  background-color: #f8f9fd;
  border-radius: 100px;
  border: none;
  padding: 0 20px;
}

.wrapper .main_content .header .btn-search {
  background-color: #dce2f4;
  color: #000000;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  position: absolute;
  margin-left: 260px;
}

.wrapper .main_content .header .avatar {
  width: 50px;
  height: 50px;
  padding: 4px;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 50px;
  border: 1px solid #3547ac;
}

.wrapper .main_content .information {
  color: #717171;
  line-height: 25px;
  width: auto;
}

.wrapper .main_content .information .card {
  box-sizing: border-box;
  border: none;
  width: 330px;
  height: 230px;
  border-radius: 30px;
  padding: 30px;
}

.wrapper .main_content .information .debit {
  background-image: url('../../assets/images/bg_card.png');
  background-size: cover;
  color: #fff;
}

.wrapper .main_content .information .debit .number {
  font-weight: 600;
  font-size: 22px;
  margin: 0;
  letter-spacing: 17%;
}

.wrapper .main_content .information .debit .name {
  font-weight: 500;
  margin: 0;
}

.wrapper .main_content .information .debit .valid {
  font-weight: 300;
  margin: 0;
}

.wrapper .main_content .information .balance {
  background-color: #f8f9fd;
}

.wrapper .main_content .information .balance > p {
  color: #0d1458;
  font-weight: 600;
  margin: 0;
}

.wrapper .main_content .information .balance > h2 {
  color: #3547ac;
  font-weight: 700;
  margin: 0;
}

.wrapper .main_content .information .balance div {
  background-color: #d6f9ee;
  color: #5fbb9e;
  padding: 6px 12px;
  border-radius: 10px;
}
